@charset "UTF-8";


@import "../Basics/vars.scss";
@import "../Basics/mixins.scss";

/*

Links

<a class="zdss-link" href="/">Link to current page</a>

*/

@mixin zdss-link(){
    color: $zdss-color-blue;
    text-decoration: none;
    &:hover{
        color: $zdss-color-blue-dark;
    }
}

/*

Headings

<h1 class="zdss-h">Heading 1</h1>
<h2 class="zdss-h">Heading 2</h2>
<h3 class="zdss-h">Heading 3</h3>
<h4 class="zdss-h">Heading 4</h4>
<h5 class="zdss-h">Heading 5</h5>
<h6 class="zdss-h">Heading 6</h6>

*/

@mixin zdss-h(){
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
