$zdss-nt-popup-border-color: #68AD45;
$zdss-nt-popup-border-color-error: #E46839;

$zdss-nt-alert-backround: #d9edf7;
$zdss-nt-alert-text-color: #3a87ad;
$zdss-nt-alert-border-color: #d9edf7;

$zdss-nt-alert-error-backround: #b94a48;
$zdss-nt-alert-error-text-color: #FFFFFF;
$zdss-nt-alert-error-border-color: #b94a48;

$zdss-nt-alert-success-backround: #8ab66b;
$zdss-nt-alert-success-text-color: #FFFFFF;
$zdss-nt-alert-success-border-color: #8ab66b;

$zdss-nt-alert-warning-backround: #FFDD08;
$zdss-nt-alert-warning-text-color: #626262;
$zdss-nt-alert-warning-border-color: #FFDD08;