@import "../Basics/vars.scss";
@import "../Basics/mixins.scss";

/*
Forms
*/

/*

Checkbox

<div style="width: 40px; height: 40px; background: black; padding: 10px;">
    <input class="zdss-checkbox" id="checkbox" type="checkbox">
    <label for="checkbox"></label>
</div>

*/

@mixin zdss-checkbox(){
    &[type="checkbox"]{
        width: 20px;
        height: 20px;
        padding: 0 3px;
        border: 1px solid #949494;
        border-radius: 6px;
        font-size: 12px;
        line-height: 18px;
        appearance: none;
        display: none;
    }
    &+label:before {
        cursor: pointer;
        user-select: none;
        content: "1";
        width: 20px;
        height: 20px;
        display: inline-block;
        font-size: 14px;
        font-family: "Zoomdata";
        color: #ffffff;
        text-align: center;
        border: 1px solid white;
        background-color: white;
        border-radius: 4px;
    }
    &:checked{
        &+label:before {
            cursor: pointer;
            user-select: none;
            content: "9";
            color: #D6E100;
            background-color: #313131;
            border: 1px solid #D6E100;
        }
    }
}

/*

Radio Button

<div style="width: 40px; height: 40px; background: black; padding: 10px;">
	<input class="zdss-radio" type="radio" id="radio">
	<label for="radio"></label>
</div>

*/


@mixin zdss-radio(){
    &[type=radio]{
        display: none;
        &+label:before {
            user-select: none;
            border-radius: 50%;
            content: "";
            display: inline-block;
            width: 19px;
            height: 19px;
            margin-right: 10px;
            background-color: #FFF;
        }
        &:checked{
            &+label:before {
                user-select: none;
                content: "\2022";
                color: #D6E100;
                font-size: 30px;
                text-align: center;
                line-height: 17px;
                background-color: black;
                border: 1px solid #D6E100;
            }
        }
        &.metric:checked{
            &+label:before{
        	color: #0095B6;
            }
        }
        &.attribute:checked{
            &+label:before{
        	color: #FBBC00;
            }
        }
    }
}

/*

Inputs

<div>
    <input class="zdss-input {$modifiers}" type="text" id="zdss-input" pattern="valid" placeholder="Zoomdata">
    <label for="zdss-input"></label>
</div>

*/

@mixin zdss-input(){
    border-radius: 12px;
    border: 1px solid #999;
    
    display: inline-block;

    min-height: 30px;
    padding: 4px 7px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;

    outline: 0;
    outline: thin dotted \9;
    -ms-user-select: text;
    box-sizing: border-box;
    transition: border linear .2s,box-shadow linear .2s;
    &:focus{
        border-color: rgba(214,223,35,0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(214,223,35,0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(214,223,35,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(214,223,35,0.6);
        
        &:invalid{
            border-color: #e9322d;
            -webkit-box-shadow: 0 0 6px #f8b9b7;
            -moz-box-shadow: 0 0 6px #f8b9b7;
            box-shadow: 0 0 6px #f8b9b7;
        }
    }
    &:-webkit-autofill{
        -webkit-box-shadow:0 0 0 50px white inset;
    }
}

/*

Textarea

<div>
    <textarea class="zdss-textarea"></textarea>
</div>

*/

@mixin zdss-textarea(){
    @include zdss-input();
    line-height: 14px;
    height: 6em;
}
