@import "../Basics/vars.scss";
@import "../Basics/mixins.scss";
@import "mixins.scss";

/*
Forms
*/

/*

Checkbox

<div style="width: 40px; height: 40px; background: rgba(0,0,0,0.7); padding: 10px;">
    <input class="zdss-checkbox" id="checkbox" type="checkbox">
    <label for="checkbox"></label>
</div>

*/

@mixin zdss-checkbox(){
    &[type="checkbox"]{
        width: 20px;
        height: 20px;
        padding: 0 3px;
        border: 1px solid #949494;
        border-radius: 6px;
        font-size: 12px;
        line-height: 18px;
        appearance: none;
        display: none;
    }
    &+label:before {
        cursor: pointer;
        user-select: none;
        content: "1";
        width: 20px;
        height: 20px;
        display: inline-block;
        font-size: 14px;
        font-family: "Zoomdata";
        color: #ffffff;
        text-align: center;
        border: 1px solid #aaa;
        background-color: white;
        border-radius: 4px;
    }
    &:checked{
        &+label:before {
            cursor: pointer;
            user-select: none;
            content: "9";
            color: #D6E100;
            background-color: #313131;
            border: 1px solid #D6E100;
        }
    }
}

/*

Radio Button

<div style="width: 40px; background: rgba(0,0,0,0.7); padding: 9px;">
    <input class="zdss-radio" type="radio" id="radio1" name="radio">
    <label for="radio1"></label>
    <input class="zdss-radio" type="radio" id="radio2" name="radio">
    <label for="radio2"></label>
    <input class="zdss-radio" type="radio" id="radio3" name="radio">
    <label for="radio3"></label>
</div>

*/


@mixin zdss-radio(){
    &[type=radio]{
        display: none;
        &+label{
            cursor: pointer;
            font-size: 0;
            height: 0;
        }
        &+label:before {
            user-select: none;
            border-radius: 50%;
            content: "\2022";
            display: inline-block;
            font-size: 50px;
            line-height: 20px;
            width: 22px;
            height: 22px;
            margin-right: 10px;
            border: 1px solid #aaa;
            background-color: #fff;
            color: #fff;
        }
        &:checked{
            &+label{
                font-size: 0;
                height: 0;
            }
            &+label:before {
                user-select: none;
                content: "\2022";
                color: #D6E100;
                font-size: 50px;
                text-align: center;
                line-height: 20px;
                background-color: rgba(0,0,0,0.7);
                border: 1px solid #D6E100;
            }
        }
        &.metric:checked{
            &+label:before{
        	color: #0095B6;
            }
        }
        &.attribute:checked{
            &+label:before{
        	color: #FBBC00;
            }
        }
    }
}

/*

Inputs

<div>
    <input class="zdss-input" type="text" id="zdss-input" placeholder="Login">
    <label for="zdss-input"></label>
</div>
<div>
    <input class="zdss-input" type="text" id="zdss-input" pattern=".{8,32}" title="8 to 32 characters" placeholder="Password">
    <label for="zdss-input"></label>
</div>

*/

@mixin zdss-input(){
    border-radius: 12px;
    border: 1px solid #999;
    
    display: inline-block;

    min-height: 30px;
    padding: 4px 7px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;

    outline: 0;
    outline: thin dotted \9;
    -ms-user-select: text;
    box-sizing: border-box;
    transition: border linear .2s,box-shadow linear .2s;
    &+label{
        margin-bottom: 10px;
        display: inline-block;
        line-height: 30px;
        vertical-align: middle;
    }
    &:focus{
        border-color: rgba(214,223,35,0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(214,223,35,0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(214,223,35,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(214,223,35,0.6);
        
        &:invalid{
            border-color: #e9322d;
            -webkit-box-shadow: 0 0 6px #f8b9b7;
            -moz-box-shadow: 0 0 6px #f8b9b7;
            box-shadow: 0 0 6px #f8b9b7;
        }
    }
    &:-webkit-autofill{
        -webkit-box-shadow:0 0 0 50px white inset;
    }
}

/*

Textarea

<div>
    <textarea class="zdss-textarea"></textarea>
</div>

*/

@mixin zdss-textarea(){
    @include zdss-input();
    line-height: 14px;
    height: 6em;
}

/*

Search

<div>
    <input class="zdss-search" placeholder="Search" id="search" type="search">
</div>

*/

@mixin zdss-search(){
    &[type=search]{
        @include zdss-input();
        
        background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'> <defs> <font horiz-adv-x='2048' > <font-face font-family='ZD' units-per-em='2048' ascent='1638' descent='-410' /> <missing-glyph horiz-adv-x='614' /> <glyph unicode='r' d='M0 1181q0 178 69 337q67 160 185 277q116 117 276 184q159 69 337 69q175 0 337 -69t277 -184t184 -277q69 -159 69 -337q0 -269 -154 -491l423 -422q45 -45 45 -111q0 -65 -45 -110q-47 -47 -112 -47t-110 47l-422 421q-224 -153 -492 -153q-177 0 -337 68t-276 184 q-118 118 -185 279q-69 159 -69 335zM315 1181q0 -226 163 -389q158 -161 389 -161q228 0 389 161q163 165 163 389q0 227 -163 390q-161 162 -389 162q-231 0 -389 -162q-163 -162 -163 -390z' /> </font> </defs> <text x='0' y='20' fill='grey' font-size='16' font-family='ZD'>r</text> </svg>");
        background-repeat: no-repeat;
        background-position: 8px 2px;
        padding-left: 30px;        
    }
}

/*

Range

<div style="padding: 9px;">
    <input class="zdss-range" type="range">
</div>
<div style="background: rgba(0,0,0,0.7); padding: 9px;">
    <input class="zdss-range" type="range">
</div>

*/
@mixin zdss-range(){
    &[type="range"]{
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        outline: none;
        background: transparent;
        height: 30px;
        margin-bottom: 10px;
        &::-webkit-slider-runnable-track{
            @include zdss-range-track();
        }
        &::-webkit-slider-thumb{
            @include zdss-range-thumb();
        }
        
        &::-moz-range-track{
            @include zdss-range-track();
        }
        &::-moz-range-thumb{
            @include zdss-range-thumb();
        }
        &::-moz-focus-inner {
            border: 0;
        }
        
        &::-ms-track{
            @include zdss-range-track();
        }
        &::-ms-thumb{
            @include zdss-range-thumb();
        }
        
    }
}