@font-face {
    font-family: "Zoomdata";
    src: url(../../fonts/Zoomdata/ZoomdataSymbol-Regular.woff) format('woff'),
        url(../../fonts/Zoomdata/ZoomdataSymbol-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@mixin zdss-icon($content: ''){
    display: inline-block;
    font-family: 'Zoomdata';
    font-style: inherit;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background:none;
    background-image:none;
    &:after{
        content: $content;
    }
}

/*

Menu icon

<i class="zdss-icon-menu"></i>

*/

@mixin zdss-icon-menu() {
    @include zdss-icon('A');
}

/*

Settings icon

<i class="zdss-icon-settings"></i>

*/

@mixin zdss-icon-settings() {  
    @include zdss-icon('B');
}

/*

Help icon

<i class="zdss-icon-help"></i>

*/

@mixin zdss-icon-help() {
    @include zdss-icon('C'); 
}

/*

User icon

<i class="zdss-icon-user"></i>

*/

@mixin zdss-icon-user() {  
    @include zdss-icon('D');
}

/*

Back icon

<i class="zdss-icon-back"></i>

*/

@mixin zdss-icon-back() {  
    @include zdss-icon('E'); 
}

/*

Connectors icon

<i class="zdss-icon-connectors"></i>

*/

@mixin zdss-icon-connectors() {  
    @include zdss-icon('F'); 
}

/*

Collections icon

<i class="zdss-icon-collections"></i>

*/

@mixin zdss-icon-collections() {  
    @include zdss-icon('G'); 
}

/*

Favorites icon

<i class="zdss-icon-favorites"></i>

*/

@mixin zdss-icon-favorites() {  
    @include zdss-icon('H'); 
}

/*

Share icon

<i class="zdss-icon-share"></i>

*/

@mixin zdss-icon-share() {  
    @include zdss-icon('I'); 
}

/*

Download icon

<i class="zdss-icon-download"></i>

*/

@mixin zdss-icon-download() {
    @include zdss-icon('J');
}

/*

Upload icon

<i class="zdss-icon-upload"></i>

*/

@mixin zdss-icon-upload() {
    @include zdss-icon('K');
}

/*

Full Circle icon

<i class="zdss-icon-circle-filled"></i>

*/

@mixin zdss-icon-circle-filled() {
    @include zdss-icon('L');
}

/*

Empty Circle icon

<i class="zdss-icon-circle-empty"></i>

*/

@mixin zdss-icon-circle-empty() {
    @include zdss-icon('M');
}

/*

Plus icon

<i class="zdss-icon-plus"></i>

*/

@mixin zdss-icon-plus() {
    @include zdss-icon('N');
}

/*

Minus icon

<i class="zdss-icon-minus"></i>

*/

@mixin zdss-icon-minus() {
    @include zdss-icon('O');
}

/*

X with Circle icon

<i class="zdss-icon-x-circle"></i>

*/

@mixin zdss-icon-x-circle() {
    @include zdss-icon('P');
}

/*

X with Filled Circle icon

<i class="zdss-icon-x-circle-filled"></i>

*/

@mixin zdss-icon-x-circle-filled() {
    @include zdss-icon('Q');
}

/*

X with Empty Circle icon

<i class="zdss-icon-x-circle-empty"></i>

*/

@mixin zdss-icon-x-circle-empty() {
    @include zdss-icon('R');
}

/*

Up Arrow icon

<i class="zdss-icon-up-arrow"></i>

*/

@mixin zdss-icon-up-arrow() {
    @include zdss-icon('S');
}

/*

Down Arrow icon

<i class="zdss-icon-down-arrow"></i>

*/

@mixin zdss-icon-down-arrow() {
    @include zdss-icon('T');
}

/*

Left Arrow icon

<i class="zdss-icon-left-arrow"></i>

*/

@mixin zdss-icon-left-arrow() {
    @include zdss-icon('U');
}

/*

Right Arrow icon

<i class="zdss-icon-right-arrow"></i>

*/

@mixin zdss-icon-right-arrow() {
    @include zdss-icon('V');
}

/*

Header icon

<i class="zdss-icon-header"></i>

*/

@mixin zdss-icon-header() {
    @include zdss-icon('W');
}

/*

Drag icon

<i class="zdss-icon-drag"></i>

*/

@mixin zdss-icon-drag() {
    @include zdss-icon('X');
}

/*

Drag Corner icon

<i class="zdss-icon-drag-corner"></i>

*/

@mixin zdss-icon-drag-corner() {
    @include zdss-icon('Y');
}

/*

Zoomdata Logo icon

<i class="zdss-icon-zoomdata-logo"></i>

*/

@mixin zdss-icon-zoomdata-logo() {
    @include zdss-icon('Z');
}

/*

Palette icon

<i class="zdss-icon-palette"></i>

*/

@mixin zdss-icon-palette() {
    @include zdss-icon('a');
}

/*

Filter icon

<i class="zdss-icon-filter"></i>

*/

@mixin zdss-icon-filter() {
    @include zdss-icon('b');
}

/*

Compare icon

<i class="zdss-icon-compare"></i>

*/

@mixin zdss-icon-compare() {
    @include zdss-icon('c');
}

/*

Sort icon

<i class="zdss-icon-sort"></i>

*/

@mixin zdss-icon-sort() {
    @include zdss-icon('d');
}

/*

Style icon

<i class="zdss-icon-style"></i>

*/

@mixin zdss-icon-style() {
    @include zdss-icon('e');
}

/*

Colors icon

<i class="zdss-icon-colors"></i>

*/

@mixin zdss-icon-colors() {
    @include zdss-icon('f');
}

/*

Data icon

<i class="zdss-icon-data"></i>

*/

@mixin zdss-icon-data() {
    @include zdss-icon('g');
}

/*

KPI icon

<i class="zdss-icon-kpi"></i>

*/

@mixin zdss-icon-kpi() {
    @include zdss-icon('h');
}

/*

Info icon

<i class="zdss-icon-info-circle-filled"></i>

*/

@mixin zdss-icon-info-circle-filled() {
    @include zdss-icon('i');
}

/*

Time Control icon

<i class="zdss-icon-time-control"></i>

*/

@mixin zdss-icon-time-control() {
    @include zdss-icon('j');
}

/*

Add Element icon

<i class="zdss-icon-add-element"></i>

*/

@mixin zdss-icon-add-element() {
    @include zdss-icon('k');
}

/*

Clone icon

<i class="zdss-icon-clone"></i>

*/

@mixin zdss-icon-clone() {
    @include zdss-icon('l');
}

/*

Fullscreen icon

<i class="zdss-icon-fullscreen"></i>

*/

@mixin zdss-icon-fullscreen() {
    @include zdss-icon('m');
}

/*

Exit Fullscreen icon

<i class="zdss-icon-exit-fullscreen"></i>

*/

@mixin zdss-icon-exit-fullscreen() {
    @include zdss-icon('n');
}

/*

Info icon

<i class="zdss-icon-info"></i>

*/

@mixin zdss-icon-info() {
    @include zdss-icon('o');
}

/*

Zoom In icon

<i class="zdss-icon-zoom-in"></i>

*/

@mixin zdss-icon-zoom-in() {
    @include zdss-icon('p');
}

/*

Zoom Out icon

<i class="zdss-icon-zoom-out"></i>

*/

@mixin zdss-icon-zoom-out() {
    @include zdss-icon('q');
}

/*

Magnifying Glass icon

<i class="zdss-icon-magnifying-glass"></i>

*/

@mixin zdss-icon-magnifying-glass() {
    @include zdss-icon('r');
}

/*

Clock icon

<i class="zdss-icon-clock"></i>

*/

@mixin zdss-icon-clock() {
    @include zdss-icon('s');
}

/*

Small Collections icon

<i class="zdss-icon-collections-small"></i>

*/

@mixin zdss-icon-collections-small() {
    @include zdss-icon('t');
}

/*

Pencil icon

<i class="zdss-icon-pencil"></i>

*/

@mixin zdss-icon-pencil() {
    @include zdss-icon('u');
}

/*

Calendar icon

<i class="zdss-icon-calendar"></i>

*/

@mixin zdss-icon-calendar() {
    @include zdss-icon('v');
}

/*

Link icon

<i class="zdss-icon-link"></i>

*/

@mixin zdss-icon-link() {
    @include zdss-icon('w');
}

/*

Break Link icon

<i class="zdss-icon-break-link"></i>

*/

@mixin zdss-icon-break-link() {
    @include zdss-icon('x');
}

/*

Comment icon

<i class="zdss-icon-comment"></i>

*/

@mixin zdss-icon-comment() {
    @include zdss-icon('y');
}

/*

Zoomdata Z icon

<i class="zdss-icon-zoomdata-logo-z"></i>

*/

@mixin zdss-icon-zoomdata-logo-z() {
    @include zdss-icon('z');
}

/*

Square Outline icon

<i class="zdss-icon-square-outline"></i>

*/

@mixin zdss-icon-square-outline() {
    @include zdss-icon('0');
}

/*

Square Filled icon

<i class="zdss-icon-square-filled"></i>

*/

@mixin zdss-icon-square-filled() {
    @include zdss-icon('1');
}

/*

Stop icon

<i class="zdss-icon-stop"></i>

*/

@mixin zdss-icon-stop() {
    @include zdss-icon('2');
}

/*

Play icon

<i class="zdss-icon-play"></i>

*/

@mixin zdss-icon-play() {
    @include zdss-icon('3');
}

/*

Pause icon

<i class="zdss-icon-pause"></i>

*/

@mixin zdss-icon-pause() {
    @include zdss-icon('4');
}

/*

Fast Forward icon

<i class="zdss-icon-fast-forward"></i>

*/

@mixin zdss-icon-fast-forward() {
    @include zdss-icon('5');
}

/*

Faster Forward icon

<i class="zdss-icon-faster-forward"></i>

*/

@mixin zdss-icon-faster-forward() {
    @include zdss-icon('6');
}

/*

Faster Forward icon

<i class="zdss-icon-fast-forward-outline"></i>

*/

@mixin zdss-icon-fast-forward-outline() {
    @include zdss-icon('7');
}

/*

Fasterer Forward icon

<i class="zdss-icon-faster-forward-outline"></i>

*/

@mixin zdss-icon-faster-forward-outline() {
    @include zdss-icon('8');
}

/*

Checkmark icon

<i class="zdss-icon-checkmark"></i>

*/

@mixin zdss-icon-checkmark() {
    @include zdss-icon('9');
}

/*

Sub Menu Down icon

<i class="zdss-icon-sub-menu-down"></i>

*/

@mixin zdss-icon-sub-menu-down() {
    @include zdss-icon('+');
}

/*

Sub Menu Right icon

<i class="zdss-icon-sub-menu-right"></i>

*/

@mixin zdss-icon-sub-menu-right() {
    @include zdss-icon('=');
}

/*

Zoomdata Logo Left icon

<i class="zdss-icon-zoomdata-logo-left"></i>

*/

@mixin zdss-icon-zoomdata-logo-left() {
    @include zdss-icon('(');
}

/*

Zoomdata Logo Right icon

<i class="zdss-icon-zoomdata-logo-right"></i>

*/

@mixin zdss-icon-zoomdata-logo-right() {
    @include zdss-icon(')');
}

/*

Warning icon

<i class="zdss-icon-warning"></i>

*/

@mixin zdss-icon-warning() {
    @include zdss-icon('!');
}

/*

Sort Ascening icon

<i class="zdss-icon-sort-asc"></i>

*/

@mixin zdss-icon-sort-asc() {
    @include zdss-icon('@');
}

/*

Sort Descending icon

<i class="zdss-icon-sort-desc"></i>

*/

@mixin zdss-icon-sort-desc() {
    @include zdss-icon('#');
}

/*

Sort Percent Ascending icon

<i class="zdss-icon-sort-percent-asc"></i>

*/

@mixin zdss-icon-sort-percent-asc() {
    @include zdss-icon('$');
}

/*

Sort Percent Descending icon

<i class="zdss-icon-sort-percent-desc"></i>

*/

@mixin zdss-icon-sort-percent-desc() {
    @include zdss-icon('%');
}

/*

Sort Alphabetical Ascending icon

<i class="zdss-icon-sort-alphabetical-asc"></i>

*/

@mixin zdss-icon-sort-alphabetical-asc() {
    @include zdss-icon('^');
}

/*

Sort Alphabetical Descending icon

<i class="zdss-icon-sort-alphabetical-desc"></i>

*/

@mixin zdss-icon-sort-alphabetical-desc() {
    @include zdss-icon('&');
}

/*

Left Chevron icon

<i class="zdss-icon-left-chevron"></i>

*/

@mixin zdss-icon-left-chevron() {
    @include zdss-icon('<');
}

/*

Right Chevron icon

<i class="zdss-icon-right-chevron"></i>

*/

@mixin zdss-icon-right-chevron() {
    @include zdss-icon('>');
}

/*

Filled Minus with Circle icon

<i class="zdss-icon-minus-circle-filled"></i>

*/

@mixin zdss-icon-minus-circle-filled() {
    @include zdss-icon('-');
}

/*

Filled Plus with Circle icon

<i class="zdss-icon-plus-circle-filled"></i>

*/

@mixin zdss-icon-plus-circle-filled() {
    @include zdss-icon('_');
}

/*

Spinner icon

<i class="zdss-icon-spinner"></i>
<i class="zdss-icon-spinner active"></i>

*/

@mixin zdss-icon-spinner() {
    @include zdss-icon(',');
    &.active {
        animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
        -moz-animation: spin 2s infinite linear;
        -ms-animation: spin 2s infinite linear;
    }
}

/*

Undo icon

<i class="zdss-icon-undo"></i>

*/

@mixin zdss-icon-undo() {
    @include zdss-icon('-');
}

/*

Group icon

<i class="zdss-icon-group"></i>

*/

@mixin zdss-icon-group() {
    @include zdss-icon('-');
}

/*

Ellipsis icon

<i class="zdss-icon-ellipsis"></i>

*/

@mixin zdss-icon-ellipsis() {
    @include zdss-icon('...');
}

/*

Configure icon

<i class="zdss-icon-configure"></i>

*/

@mixin zdss-icon-configure() {
    @include zdss-icon('/');
}

/*

Faceted Search icon

<i class="zdss-icon-faceted-search"></i>

*/

@mixin zdss-icon-faceted-search() {
    @include zdss-icon('[');
}

/*

Faceted Filter icon

<i class="zdss-icon-faceted-filter"></i>

*/

@mixin zdss-icon-faceted-filter() {
    @include zdss-icon(']');
}
