@import "style/inuit/inuit-defaults/settings.defaults";

@import "style/inuit/inuit-functions/tools.functions";
@import "style/inuit/inuit-mixins/tools.mixins";

@import "style/inuit/inuit-normalize/generic.normalize";
@import "style/inuit/inuit-box-sizing/generic.box-sizing";

@import "style/inuit/inuit-page/base.page";

@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/Source Sans Pro/WOFF/OTF/SourceSansPro-Light.otf.woff) format('woff'),
        url(fonts/Source Sans Pro/TTF/SourceSansPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/Source Sans Pro/WOFF/OTF/SourceSansPro-Regular.otf.woff) format('woff'),
        url(fonts/Source Sans Pro/TTF/SourceSansPro-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/Source Sans Pro/WOFF/OTF/SourceSansPro-Bold.otf.woff) format('woff'),
        url(fonts/Source Sans Pro/TTF/SourceSansPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

body{
    font-family: 'Source Sans Pro', sans-serif !important;
}

/*
Components
*/
@import "style/objects/Basics/components.scss";
@import "style/objects/Buttons/components.scss";
@import "style/objects/Icons/components.scss";
@import "style/objects/Forms/components.scss";
@import "style/objects/Tables/components.scss";
@import "style/objects/Lists/components.scss";
@import "style/objects/Text/components.scss";
@import "style/objects/Info/components.scss";
