.zdss-app {
    @import "inuit/inuit-defaults/settings.defaults";

    @import "inuit/inuit-functions/tools.functions";
    @import "inuit/inuit-mixins/tools.mixins";

    @import "inuit/inuit-normalize/generic.normalize";
    @import "inuit/inuit-box-sizing/generic.box-sizing";

    @import "inuit/inuit-page/base.page";

    @font-face {
        font-family: "Source Sans Pro";
        src: url(fonts/Source Sans Pro/WOFF/OTF/SourceSansPro-Light.otf.woff) format('woff'),
            url(fonts/Source Sans Pro/TTF/SourceSansPro-Light.ttf) format('truetype');
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
    }

    @font-face {
        font-family: "Source Sans Pro";
        src: url(fonts/Source Sans Pro/WOFF/OTF/SourceSansPro-Regular.otf.woff) format('woff'),
            url(fonts/Source Sans Pro/TTF/SourceSansPro-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
    }

    @font-face {
        font-family: "Source Sans Pro";
        src: url(fonts/Source Sans Pro/WOFF/OTF/SourceSansPro-Bold.otf.woff) format('woff'),
            url(fonts/Source Sans Pro/TTF/SourceSansPro-Bold.ttf) format('truetype');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
    }
}

/*
Components
*/
@import "objects/Basics/components.scss";
@import "objects/Buttons/components.scss";
@import "objects/Icons/components.scss";
@import "objects/Forms/components.scss";
@import "objects/Tables/components.scss";
@import "objects/Lists/components.scss";
@import "objects/Text/components.scss";
@import "objects/Info/components.scss";
