
/*

Horizontal list without background

<ul class="zdss-horizontal-list">
    <li>General</li>
    <li>Filepath</li>
    <li>Fields</li>
    <li disabled>Visualizations</li>
</ul>

*/

@mixin zdss-horizontal-list(){
    list-style: none;
    > li {
        @include zdss-light-block();
        color: $zdss-color-obsidian;
        float: left;
        margin: 0px;
        background: inherit;
        @include zdss-clickable();
        @include zdss-rounded();
    }
    > li:hover {
        color: white;
        background-color: $zdss-color-zdgreen;
    }
    > li[disabled] {
        color: $zdss-color-mercury;
    }
    > li[disabled]:hover {
        color: $zdss-color-mercury;
        background: inherit;
    }
}
/*

Vertical list of rounded light elements

<ul class="zdss-vertical-list">
    <li>Ene</li>
    <li>Bene</li>
    <li>Raba</li>
</ul>

*/

@mixin zdss-vertical-list(){
    list-style: none;
    > li:first-child {
        @include zdss-rounded-top();
    }
    > li:last-child {
        @include zdss-rounded-bottom();
    }
    > li {
        @include zdss-clickable();
        @include zdss-light-block();
        margin: 1px;
        border-radius: 0;
    }
    > li:hover {
        color: $zdss-color-green;
        background-color: $dark-background;
    }
}


/*

The same, but darker

<ul class="zdss-vertical-list-dark">
    <li>Ene</li>
    <li>Bene</li>
    <li>Raba</li>
</ul>

*/



@mixin zdss-vertical-list-dark(){
    @include zdss-vertical-list();
    > li {
        @include zdss-dark-block();
        background-color: $zdss-color-charcoal;
        margin: 1px;
        border-radius: 0;
    }
    > li:hover {
        color: $zdss-color-green;
        background-color: $zdss-color-obsidian;
    }
}

/*

Accordion list

<ul class="zdss-accordion">
    <li>C</li>
    <li>D</li>
    <li>E</li>
</ul>

*/

@mixin zdss-accordion ($height: 40px){
    $size: $height/4;
    list-style: none;
    > li {
        @include zdss-clickable();
        @include zdss-light-block();
        @include zdss-rounded();
        margin: 4px;
        position: relative;
        height: $height;
    }
    > li:hover {
        color: $zdss-color-green;
        background-color: $dark-background;
    }
}

/*

Accordion list with arrows on the right

<ul class="zdss-accordion-arrowed">
    <li>C</li>
    <li>D</li>
    <li>E</li>
</ul>

*/

@mixin zdss-accordion-arrowed ($height: 40px){
    @include zdss-accordion($height);
    $size: $height/4;
    > li:after {
        @include zdss-arrow($size);
        position: absolute;
        right: $size;
        top: ($height/2) - ($size/2);
    }
    > li:after:hover {
        border-color: white;
    }
}

/*

Horizontal menu

<ul class="zdss-horizontal-menu">
    <li>Sources</li>
    <li>Visualization Studio</li>
    <li>Users & Groups</li>
    <li>Preferences</li>
</ul>

*/

@mixin zdss-horizontal-menu(){
    list-style: none;
    > li {
        background-color: $zdss-color-mercury;
        color: $zdss-color-obsidian;
        float: left;
        font-size: 13px;
        padding: 0.5em 1em;
        @include zdss-clickable;
    }
    > li:hover {
        color: $zdss-color-chromium;
        background-color: $zdss-color-obsidian;
    }
}

