
/*

Horizontal list without background

<ul class="zdss-list-horizontal">
    <li>General</li>
    <li>Filepath</li>
    <li>Fields</li>
    <li disabled>Visualizations</li>
</ul>

*/

@mixin zdss-list-horizontal(){
    list-style: none;
    > li {
        @include zdss-block-light();
        color: $zdss-color-obsidian;
        float: left;
        margin: 0px;
        background: inherit;
        @include zdss-clickable();
        @include zdss-rounded();
    }
    > li:hover {
        color: white;
        background-color: $zdss-color-zdgreen;
    }
    > li[disabled] {
        color: $zdss-color-mercury;
    }
    > li[disabled]:hover {
        color: $zdss-color-mercury;
        background: inherit;
    }
}
/*

Vertical list of rounded light elements

<ul class="zdss-list-vertical">
    <li>Ene</li>
    <li>Bene</li>
    <li>Raba</li>
</ul>

*/

@mixin zdss-list-vertical(){
    list-style: none;
    padding-left: 0px;
    > li:first-child {
        @include zdss-rounded-top();
    }
    > li:last-child {
        @include zdss-rounded-bottom();
    }
    > li {
        @include zdss-clickable();
        @include zdss-block-light();
        margin: 1px;
        border-radius: 0;
    }
    > li:hover {
        color: $zdss-color-green;
        background-color: $dark-background;
    }
}


/*

The same, but darker

<ul class="zdss-list-vertical-dark">
    <li>Ene</li>
    <li>Bene</li>
    <li>Raba</li>
</ul>

*/



@mixin zdss-list-vertical-dark(){
    @include zdss-list-vertical();
    > li {
        @include zdss-block-dark();
        background-color: $zdss-color-charcoal;
        margin: 1px;
        border-radius: 0;
    }
    > li:hover {
        color: $zdss-color-green;
        background-color: $zdss-color-obsidian;
    }
}

/*

Accordion list

<ul class="zdss-accordion">
    <li>C</li>
    <li>D</li>
    <li>E</li>
</ul>

*/

@mixin zdss-accordion ($height: 40px){
    $size: $height/4;
    list-style: none;
    > li {
        @include zdss-clickable();
        @include zdss-block-light();
        @include zdss-rounded();
        margin: 4px;
        position: relative;
        height: $height;
    }
    > li:hover {
        color: $zdss-color-green;
        background-color: $dark-background;
    }
}

/*

Accordion list with arrows on the right

<ul class="zdss-accordion-arrowed">
    <li>C</li>
    <li>D</li>
    <li>E</li>
</ul>

*/

@mixin zdss-accordion-arrowed ($height: 40px){
    @include zdss-accordion($height);
    $size: $height/4;
    > li:after {
        @include zdss-arrow($size);
        position: absolute;
        right: $size;
        top: ($height/2) - ($size/2);
    }
    > li:hover:after {
        border-color: white;
    }
}

/*

Horizontal menu

<ul class="zdss-menu-horizontal">
    <li>Sources</li>
    <li>Visualization Studio</li>
    <li>Users & Groups</li>
</ul>

*/

@mixin zdss-menu-horizontal(){
    list-style: none;
    > li {
        background-color: $zdss-color-mercury;
        color: $zdss-color-obsidian;
        float: left;
        font-size: 13px;
        padding: 0.5em 1em;
        @include zdss-clickable;
    }
    > li:hover {
        color: $zdss-color-chromium;
        background-color: $zdss-color-obsidian;
    }
}


$tabs-color1: $zdss-color-charcoal;

/*

Tabs

<div class="zdss-block-light">
    <ul class="zdss-tabs">
        <li active>Favourites</li>
        <li>Data Sources</li>
        <li>Selected</li>
        <li>All</li>
    </ul>
    <div class="zdss-tab-content">
        Lorem ipsum
    </div>
</div>

*/

@mixin zdss-tabs(){
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        @include zdss-clickable;
        @include zdss-rounded-top;
        background-color: $zdss-color-iron;
        color: $zdss-color-chromium;
        float: left;
        padding: 10px;
        font-size: 13px;
        margin-right: 4px;
    }
    > li[active] {
        background-color: $tabs-color1;
        color: $zdss-color-green;
    }
    &:after {
        clear:both;
        display: block;
        content: ' ';
    }
}

@mixin zdss-tab-content(){
    background-color: $tabs-color1;
    @include zdss-rounded-bottom;
    border-top-right-radius: $border-radius;
    padding: 10px;
    color: $zdss-color-chromium;
}

/*

Dropdown list
<div style="width:150px;">
    <div class="zdss-dropdown">
        <span>Integer</span>
        <ul>
            <li>
                Money
            </li>
            <li>
                Number
            </li>
            <li>
                Integer
            </li>
            <li>
                Time
            </li>
        </ul>
    </div>
</div>
    
*/

@mixin zdss-dropdown(){
    > *:first-child {
        position: relative;
        @include zdss-clickable;
        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
            position: absolute;
            right: -15px;
            top: 7px;
            width: 0px;
            height: 0px;
            content: '';
        }
    }
    > ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        > li {
            background-color: $zdss-color-iron;
            color: white;
            padding: 7px;
            @include zdss-clickable;
            &:hover {
                background-color: $zdss-color-green;
                color: $zdss-color-charcoal;
            }
            &:first-child {
                @include zdss-rounded-top;
            }
            &:last-child {
                @include zdss-rounded-bottom;
            }
        }
    }
}

