/*
Basic table

<table class="zdss-table">
    <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Group</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Admin</td>
            <td><i class="x-circle-filled"></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jane</td>
            <td>Viewer</td>
            <td><i class="x-circle-filled"></i></td>
        </tr>
    </tbody>
</table>

*/

@mixin zdss-table() {
    $border-color: $zdss-color-silver;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid $border-color;
	border-collapse: separate;
	border-radius: 4px;

	thead {
		background-color: #585858;

		th {
			@include zdss-clickable();
			color: $zdss-color-chromium;
			padding: 8px 5px;
			white-space: nowrap;
		}
	}

	tbody {

		td {
			padding: 8px;
			line-height: 20px;
			text-align: center;
			vertical-align: middle;
			border-top: 1px solid $border-color;
		}
	}
}

/*
Light table

Looks similar to list, doesn't need a table head

<table class="zdss-table-light">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>User Income</td>
            <td>$0 to $25,000</td>
        </tr>
        <tr>
            <td>Country Code</td>
            <td>42071</td>
        </tr>
        <tr>
            <td>Planned Sales</td>
            <td>$215.62</td>
        </tr>
        <tr>
            <td>County</td>
            <td>Lancaster</td>
        </tr>
        <tr>
            <td>User State</td>
            <td>Pennsylvania</td>
        </tr>
    </tbody>
</table>

*/

@mixin zdss-table-light() {
	width: 100%;
	margin-bottom: 20px;
	border: 0;

	tbody {

		td {
			padding: 8px;
			line-height: 20px;
            font-size: $zdss-fs-small;
			text-align: left;
			vertical-align: middle;
			border-top: 1px solid $zdss-color-silver;
		}

		tr:nth-child(even) td {
			background-color: $zdss-color-chromium;
		}
		tr:nth-child(odd) td {
			background-color: white;
		}
		tr:last-child td {
			border-bottom: 1px solid $zdss-color-silver;
		}
	}
}
