@import "../../settings/colors.scss";
@import "../../settings/basic.scss";

@import "../Basics/vars.scss";
@import "../Basics/mixins.scss";

@import "vars.scss";
@import "mixins.scss";

/*
Buttons

A majority of buttons in the site are built from the same base class.

Markup:
<button class="button {$modifiers}">Button</button>
<button class="button {$modifiers}" disabled>Button</button>

:hover               - Highlight the button when hovered.
.primary             - Primary button indicating an action.
.primary:hover       - Highlight the Primary button when hovered.

Styleguide 1.1
*/


.button {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;

    position: relative;

    display: inline-block;

    height: 40px;
    margin-bottom: 0;
    padding: 7px 12px;

    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    vertical-align: middle;
    white-space: nowrap;
    white-space: nowrap;

    color: $zd-color-white;
    border: 1px solid transparent;
    border-radius: $zd-btn-border-radius;
    outline: none;
    outline-style: none;
    background-color: $zd-color-iron;

    -webkit-appearance: none;
}

.button:hover {
    background-color: $zd-color-charcoal;
}

.button.primary {
    background-color: $zd-color-blue;
}

.button.primary:hover {
    background-color: $zd-color-blue-dark;
}

.button:disabled {
    pointer-events: none;
    background-color: $zd-color-silver !important;
    color: $zd-color-white;
}

/*
Rail Button

Additional buttons that are useful for stuff.

Markup:
<button class="button rail {$modifiers}">
    <i class="zd icon palette"></i>
    <div class="text">Attributes</div>
</button>

.rail:hover          - Highlight the rail button when hovered.

Styleguide 1.1.1
*/

.button.rail {
    height: 54px;
    width: 72px;
    background-color: $zd-color-iron;
    border-radius: 0;
    padding: 7px 0;
    .text {
        margin: 0 auto;
        padding-top: 0;
        text-align: center;
        font-size: 12px;
        font-weight: normal;
    }
}

.button.rail:hover {
    background-color: $zd-color-charcoal;
}

/*
Circular Button

Buttons meant to look like a circle.

Markup:
<button class="button circular {$modifiers}">
    <i class="zd icon favorites"></i>
</button>

.circular:hover    - Hover state for circular buttons

Styleguide 1.1.2
*/

.button.circular {
    font-size: 18px;
    line-height: $default-button-height - 2px;
    padding: 0;
    border-radius: 50%;
    width: $default-button-height;
    height: $default-button-height;
    background-color: $zd-color-iron;
    box-shadow: 2px 2px rgba(89,89,89,0.4), -1px -1px rgba(255,255,255,0.5);
}

.button.circular:hover {
    color: $zd-color-gold;
    background-color: $zd-color-charcoal;
}

/*
Rounded Button

Buttons meant to look rounded.

Markup:
<button class="button rounded {$modifiers}">
    <i class="zd icon pause"></i>
</button>

.rounded:hover    - Hover state for circular buttons

Styleguide 1.1.3
*/

.button.rounded {
    width: $default-button-height;
    height: $default-button-height;
    font-size: 18px;
    line-height: $default-button-height - 2px;
    padding: 0;
    background-color: $zd-color-iron;
    box-shadow: 2px 2px rgba(89,89,89,0.4), -1px -1px rgba(255,255,255,0.5);
}

.button.rounded:hover {
    background-color: $zd-color-charcoal;
}

/*
Axis Button

Buttons for the axis of visualizations

Markup:
<button class="button axis {$modifiers}">Button (button.button.axis)</button>

.metric:hover    - Hover state for metric axis label buttons
.attribute:hover - Hover state for attribute axis label buttons

Styleguide 1.1.4
*/ 
.button.axis {
    padding: 0 12px;
    background-color: $zd-color-chromium;
    color: $zd-color-iron;
    z-index: 2;
    text-transform: capitalize;
    white-space: nowrap;
}

.button.axis:hover {
    color: $zd-color-white;
}

.button.axis.metric:hover {
    background-color: $zd-color-blue;
}

.button.axis.attribute:hover {
    background-color: #FBBC00;
}

/*
Button Group

A button group is a series of buttons laid out next to each other, all part of one visual button, but separated by rules to be separate.

Markup:
<div class="button-group">
    <button type="button" class="button">First</button>
    <button type="button" class="button">Second</button>
    <button type="button" class="button">Third</button>
</div>

Styleguide 1.1.5
*/

.button-group {
    display: inline-block;
    vertical-align: middle;
}

.button-group:before {
    display: table;
    content: "";
}

.button-group:after {
    display: table;
    clear: both;
    content: "";
}

.button-group .button {
    position: relative;
    float: left;
    border-radius: 0;
}

.button-group .button:first-child {
    @include rounded-left($border-radius);
}

.button-group .button:last-child {
    @include rounded-right($border-radius);
}

.button-group .button:hover,.button-group .button:focus,.button-group .button:active,.button-group .button.selected {
    z-index: 2;
}

.button-group .button+.button {
    margin-left: -1px;
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.2);
}

.button-group .button+.button:active, .button-group .button+.button.selected {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
}

.button-group .button+.button:hover {
    box-shadow: none;
}

.button-group+.button-group,.button-group+.button {
    margin-left: 5px;
}
