@import "../../settings/colors.scss";
@import "../../settings/basic.scss";

@import "../Basics/vars.scss";
@import "../Basics/mixins.scss";

@import "vars.scss";
@import "mixins.scss";

/*
Buttons

A majority of buttons in the site are built from the same base class.

<button class="zdss-button {$modifiers}">Button</button>
<button class="zdss-button-primary {$modifiers}">Button</button>
<button class="zdss-button-danger {$modifiers}">Button</button>
<button class="zdss-button {$modifiers}" disabled>Button</button>

*/

@mixin zdss-button(){
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;

    position: relative;

    display: inline-block;

    height: 40px;
    margin-bottom: 0;
    padding: 7px 12px;

    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    vertical-align: middle;
    white-space: nowrap;
    white-space: nowrap;

    color: $zdss-color-white;
    border: 1px solid transparent;
    border-radius: $zdss-btn-border-radius;
    outline: none;
    outline-style: none;
    background-color: $zdss-color-iron;

    -webkit-appearance: none;
    
    &:hover {
        background-color: $zdss-color-charcoal;
    }
    &:disabled{
        pointer-events: none;
        background-color: $zdss-color-silver !important;
        color: $zdss-color-white;
    }
}

.zdss-button{
    @include zdss-button();
}

@mixin zdss-button-primary(){
    @include zdss-button();
    background-color: $zdss-color-blue;
    &:hover{
        background-color: $zdss-color-blue-dark;
    }
}

.zdss-button-primary {
    @include zdss-button-primary();
}

@mixin zdss-button-danger() {
    @include zdss-button();
    background-color: $zdss-color-red;
    &:hover{
        background-color: $zdss-color-red-dark;
    }
}

.zdss-button-danger {
    @include zdss-button-danger();
}


/*
Rail Button

Additional buttons that are useful for stuff.

<button class="zdss-button-rail {$modifiers}">
    <i class="zd icon palette"></i>
    <div class="text">Attributes</div>
</button>

*/

@mixin zdss-button-rail(){
    @include zdss-button();
    height: 54px;
    width: 72px;
    background-color: $zdss-color-iron;
    border-radius: 0;
    padding: 7px 0;
    .text {
        margin: 0 auto;
        padding-top: 0;
        text-align: center;
        font-size: 12px;
        font-weight: normal;
    }
    &:hover{
        background-color: $zdss-color-charcoal;
    }
}

.zdss-button-rail {
    @include zdss-button-rail();
}

/*
Circular Button

Buttons meant to look like a circle.

<button class="zdss-button-circular {$modifiers}">
    <i class="zd icon favorites"></i>
</button>
<button class="zdss-button-circular active {$modifiers}">
    <i class="zd icon favorites"></i>
</button>

*/

@mixin zdss-button-circular(){
    @include zdss-button();
    font-size: 18px;
    line-height: $default-button-height - 2px;
    padding: 0;
    border-radius: 50%;
    width: $default-button-height;
    height: $default-button-height;
    background-color: $zdss-color-iron;
    box-shadow: 2px 2px rgba(89,89,89,0.4), -1px -1px rgba(255,255,255,0.5);
    
    &:hover{
        color: $zdss-color-white;
        background-color: $zdss-color-charcoal;
    }
    &.active{
        color: $zdss-color-gold;
    }
}

.zdss-button-circular{
    @include zdss-button-circular();
}

/*
Rounded Button

Buttons meant to look rounded.

<button class="zdss-button-rounded {$modifiers}">
    <i class="zd icon pause"></i>
</button>

*/
@mixin zdss-button-rounded(){
    @include zdss-button();
    width: $default-button-height;
    height: $default-button-height;
    font-size: 18px;
    line-height: $default-button-height - 2px;
    padding: 0;
    background-color: $zdss-color-iron;
    box-shadow: 2px 2px rgba(89,89,89,0.4), -1px -1px rgba(255,255,255,0.5);
    &:hover{
        background-color: $zdss-color-charcoal;
    }
}
.zdss-button-rounded{
    @include zdss-button-rounded();
}

/*
Axis Button

Buttons for the axis of visualizations

<button class="zdss-button-axis {$modifiers}">Button (button.button.axis)</button>

*/ 

@mixin zdss-button-axis(){
    @include zdss-button();
    padding: 0 12px;
    background-color: $zdss-color-chromium;
    color: $zdss-color-iron;
    z-index: 2;
    text-transform: capitalize;
    white-space: nowrap;
    &:hover{
        color: $zdss-color-white;
        &.metric{
            background-color: $zdss-color-blue;
        }
        &.attribute{
            background-color: #FBBC00;
        }
    }
}
.zdss-button-axis{
    @include zdss-button-axis();
}

/*
Button Group

A button group is a series of buttons laid out next to each other, all part of one visual button, but separated by rules to be separate.


<div class="zdss-button-group">
    <button type="button" class="zdss-button">First</button>
    <button type="button" class="zdss-button">Second</button>
    <button type="button" class="zdss-button">Third</button>
</div>

*/

@mixin zdss-button-group(){
    display: inline-block;
    vertical-align: middle;
    &:before {
        display: table;
        content: "";
    }
    &:after {
        display: table;
        clear: both;
        content: "";
    }
    
    .zdss-button{
        @include zdss-button();
        position: relative;
        float: left;
        border-radius: 0px;
        margin-right: 1px;
        &:first-child {
            @include zdss-rounded-left($border-radius);
        }
        &:last-child {
            @include zdss-rounded-right($border-radius);
            margin-right: 0px;
        }
        &:hover{
            z-index: 2;
        }
        &:focus{
            z-index: 2;
        }
        &:active{
            z-index: 2;
            box-shadow: $zdss-btn-pressed-shadow;
        }
        &.selected{
            z-index: 2;
            box-shadow: $zdss-btn-pressed-shadow;
        }
    }
    &+.zdss-button-group{
        margin-left: 5px;
    }
}

.zdss-button-group{
    @include zdss-button-group();
}
