/*

Typical block

<div class="zdss-basic-block">Lorem ipsum</div>

*/
@mixin zdss-basic-block(){
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    @include zdss-rounded();
}
/*

Typical light block

<div class="zdss-light-block">Lorem ipsum</div>

*/

@mixin zdss-light-block(){
    background-color: $light-background;
    @include zdss-basic-block();
}
/*

Typical dark block

<div class="zdss-dark-block">Lorem ipsum</div>

*/

@mixin zdss-dark-block(){
    background-color: $dark-background;
    color: white;
    @include zdss-basic-block();
}
