/*

Typical block

<div class="zdss-basic-block">Lorem ipsum</div>

*/
@mixin zdss-basic-block(){
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    @include zdss-rounded();
}
/*

Typical light block

<div class="zdss-light-block">Lorem ipsum</div>

*/

@mixin zdss-light-block(){
    background-color: $light-background;
    @include zdss-basic-block();
}
/*

Typical dark block

<div class="zdss-dark-block">Lorem ipsum</div>

*/

@mixin zdss-dark-block(){
    background-color: $dark-background;
    color: white;
    @include zdss-basic-block();
}


@mixin zdss-close-icon($size: 10px, $color: white){
    @include zdss-clickable;
    width: ($size*2) + ($size/10);
    position: relative;
    &:after {
        content: ' ';
        border-top: 2px solid $color;        
        border-left: 2px solid $color;
        transform: rotate(-45deg);
        position: absolute;
        width: $size;
        height: $size;
        right:0px;
    }
    &:before {
        content: ' ';
        border-top: 2px solid $color;        
        border-left: 2px solid $color;
        transform: rotate(135deg);
        position: absolute;
        width: $size;
        height: $size;
        left:0px;
    }
}

/*

Modal popup

<div class="zdss-popup-modal">
    <a class="zdss-close"></a>
    Lorem ipsum
</div>

*/

@mixin zdss-popup-modal(){
    @include zdss-dark-block;
    @include zdss-shadow();
    position: relative;
    &:after {
        @include zdss-dark-block();
        border-radius: 0;
        transform: rotate(45deg);
        content: ' ';
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -15px;
        right: 10px;
    }
    .zdss-close {
        @include zdss-close-icon(8px, $zdss-color-mercury);
        float: right;
        margin: 3px;
    }
}



@mixin zdss-tooltip(){
    @include zdss-dark-block;
    @include zdss-shadow-small();
    position: relative;
    padding: 10px 15px;
    &:after {
        @include zdss-dark-block();
        border-radius: 0;
        transform: rotate(45deg);
        content: '';
        position: absolute;
        top: 6px;
        width: 10px;
        height: 10px;
    }
    .zdss-close {
        @include zdss-close-icon(8px, $zdss-color-mercury);
        float: right;
        margin: 3px;
    }
}

/*

Tooltip(left)

<div class="zdss-tooltip-left">
    <a class="zdss-close"></a>
    Lorem ipsum
</div>

*/

@mixin zdss-tooltip-left(){
    @include zdss-tooltip();
    &:after {
        left: -15px;
    }
}


/*

Tooltip(right)

<div class="zdss-tooltip-right">
    <a class="zdss-close"></a>
    Lorem ipsum
</div>

*/

@mixin zdss-tooltip-right(){
    @include zdss-tooltip();
    &:after {
        right: -15px;
    }
}