@charset "UTF-8";

/*

Typical block

<div class="zdss-block">Lorem ipsum</div>

*/
@mixin zdss-block(){
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    @include zdss-rounded();
}
/*

Typical light block

<div class="zdss-block-light">Lorem ipsum</div>

*/

@mixin zdss-block-light(){
    background-color: $light-background;
    @include zdss-block();
}
/*

Typical dark block

<div class="zdss-block-dark">Lorem ipsum</div>

*/

@mixin zdss-block-dark(){
    background-color: $dark-background;
    color: white;
    @include zdss-block();
}


@mixin zdss-icon-close($size: 10px, $color: white){
    @include zdss-clickable;
    width: ($size*2) + ($size/10);
    position: relative;
    &:after {
        content: ' ';
        border-top: 2px solid $color;        
        border-left: 2px solid $color;
        transform: rotate(-45deg);
        position: absolute;
        width: $size;
        height: $size;
        right:0px;
    }
    &:before {
        content: ' ';
        border-top: 2px solid $color;        
        border-left: 2px solid $color;
        transform: rotate(135deg);
        position: absolute;
        width: $size;
        height: $size;
        left:0px;
    }
}
