
@mixin zdss-clickable (){
    cursor: pointer;
}

/*

Makes any element rounded

*/

@mixin zdss-rounded($radius: $border-radius){
    border-radius: $radius;
}
@mixin zdss-rounded-left($radius: $border-radius){
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
@mixin zdss-rounded-right($radius: $border-radius){
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
@mixin zdss-rounded-top($radius: $border-radius){
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
@mixin zdss-rounded-bottom($radius: $border-radius){
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin zdss-arrow($size: 40px){
    width: $size;
    height: $size;
    border-top: 2px solid $zdss-color-iron;
    border-right: 2px solid $zdss-color-iron;
    content: ' ';
    transform: rotate(45deg);
    &:hover {
        border-color: white;
    }
}

@mixin zdss-shadow(){
    box-shadow: 5px 5px 10px 0px $zdss-color-iron;
}

@mixin zdss-shadow-small(){
    box-shadow: 2px 2px 5px 0px $zdss-color-iron;
}

/*
    
Makes the text shorten with dots, if it exeeds the size of container

<div class="zdss-overflow-with-dots zdss-block-dark" style="width: 150px;">
    Lorem ipsum dolor, sit amet. Lorem ipsum dolor, sit amet. 
</div>

*/

@mixin zdss-overflow-with-dots(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

