@import "../Basics/vars.scss";
@import "../Basics/mixins.scss";
@import "vars.scss";
@import "mixins.scss";

/*

Notification Alert (Info, Error, Success, Warning)
(position: absolute;)

<div class="zdss-notification-alert" style="position: inherit">Simple notification message.<div class="close"></div></div>
<div class="zdss-notification-alert-error" style="position: inherit">Failed to save bookmark.<div class="close"></div></div>
<div class="zdss-notification-alert-success" style="position: inherit">Bookmark has been saved.<div class="close"></div></div>
<div class="zdss-notification-alert-warning" style="position: inherit">This bookmark name already exist.<div class="close"></div></div>

*/

@mixin zdss-notification-alert() {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	line-height: 26px;
	padding: 8px 35px 8px 14px;
	margin-bottom: 5px;
	border-radius: 0;
	border: none;
	z-index: 3000;

	color: 				$zdss-nt-alert-text-color;
	background-color: 	$zdss-nt-alert-backround;
	border-color: 		$zdss-nt-alert-border-color;

	.close {
		cursor: pointer;
		font-size: $zdss-fs-large;
		float: right;
		margin-right: -20px;
		@include zdss-icon-x-circle-empty();
	}

}

@mixin zdss-notification-alert-error(){
	@include zdss-notification-alert();
	color: 				$zdss-nt-alert-error-text-color;
	background-color: 	$zdss-nt-alert-error-backround;
	border-color: 		$zdss-nt-alert-error-border-color;	
}

@mixin zdss-notification-alert-success(){
	@include zdss-notification-alert();
	color: 				$zdss-nt-alert-success-text-color;
	background-color: 	$zdss-nt-alert-success-backround;
	border-color: 		$zdss-nt-alert-success-border-color;

}

@mixin zdss-notification-alert-warning(){
	@include zdss-notification-alert();
	color: 				$zdss-nt-alert-warning-text-color;
	background-color: 	$zdss-nt-alert-warning-backround;
	border-color: 		$zdss-nt-alert-warning-border-color;
}

/*

Nofitications Popup

<div class="zdss-notification-popup" style="position: inherit">            
	<div class="notification-head">                
		<span>User Updated</span>                
		<div class="notification-close" title="Close" style="position: inherit"></div>            
	</div>            
	<div class="notification-body">                
		<div class="notification-icon"></div>                
		<div class="notification-description">
			<span>User has been successfull updated.</span>
		</div>
	</div>      
</div>
<div class="zdss-notification-popup-error" style="position: inherit">            
	<div class="notification-head">                
		<span>Validation Error</span>                
		<div class="notification-close" title="Close" style="position: inherit"></div>            
	</div>            
	<div class="notification-body">                
		<div class="notification-icon"></div>                
		<div class="notification-description">
			<span>Field <b>Timestamp</b> cannot be changed to <b>ATTRIBUTE</b> because it is being used in the visualizations.</span>
		</div>
	</div>      
</div>

*/

@mixin zdss-notification-popup(){
    position: absolute;
	top: 46px;
	right: 10px;
	z-index: 1050;
	width: 276px;
	background: white;
	margin: 4px;
	border: solid;
	border-width: 1px;
	border-color: $zdss-nt-popup-border-color;
	border-radius: 12px;
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
	font-size: $zdss-fs-normal;
	color: #000000;
	overflow: hidden;

	.notification-head {
		padding: 8px;
		line-height: 20px;
		font-size: $zdss-fs-large;
		color: #FFFFFF;
		text-align: center;
		background: $zdss-nt-popup-border-color;
		.notification-close {
			cursor: pointer;
			float: right;
			margin-left: -20px;
			color: #fff;
			@include zdss-icon-x-circle();
		}
	}

	.notification-body {
		padding: 12px;

		.notification-icon {
			float: left;
			width: 30px;
			padding: 3px 0;
			margin-right: 8px;
			color: $zdss-nt-popup-border-color;
			font-size: $zdss-fs-larger;
			text-align: center;
			@include zdss-icon-checkmark();
		}

		.notification-description {

		}
	}
}

@mixin zdss-notification-popup-error(){
	@include zdss-notification-popup();

	border-color: $zdss-nt-popup-border-color-error;
		
	.notification-head {
		background: $zdss-nt-popup-border-color-error;
	}
	.notification-body {
		.notification-icon {
			color: $zdss-nt-popup-border-color-error;
		}
	}
}

/*

Notification Error Message

<div class="zdss-notification-msg" style="position: inherit">
  	<div class="close" value="close"></div>
	<text>Internar Server Error</text>
</div>

*/ 


@mixin zdss-notification-msg() {
	position: absolute;
	right: 5px;
	top: 38px;
	width: 300px;
	font-size: $zdss-fs-normal;
	max-width: calc(100% - 60px);
	margin-bottom: 0px;
	border-radius: 4px;
	padding: 8px 35px 8px 14px;
	color: $zdss-nt-error-msg-text-color;
	background: $zdss-nt-error-msg-backround;
	border-color: $zdss-nt-error-msg-border-color;

	.close {
		position: relative;
		top: -2px;
		cursor: pointer;
		font-size: $zdss-fs-normal;
		float: right;
		margin-right: -20px;
		line-height: 24px;
		@include zdss-icon-x-circle-empty();
	}

	.text {
		line-height: 24px;
	}

}


/*

Modal popup

<div class="zdss-popup-modal">
    <a class="zdss-close"></a>
    Lorem ipsum
</div>

*/

@mixin zdss-popup-modal(){
    @include zdss-block-dark;
    @include zdss-shadow();
    position: relative;
    &:after {
        @include zdss-block-dark();
        border-radius: 0;
        transform: rotate(45deg);
        content: ' ';
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -15px;
        right: 10px;
    }
    .zdss-close {
        @include zdss-icon-close(8px, $zdss-color-mercury);
        float: right;
        margin: 3px;
    }
}

/*

Modal popup light

<div class="zdss-popup-modal-light">
    <a class="zdss-close"></a>
    Lorem ipsum
</div>

*/

@mixin zdss-popup-modal-light() {
	@include zdss-popup-modal();
	@include zdss-block-light;

	color: #333333;

	&:after {
		background-color: inherit;
	}

	.zdss-close {
		@include zdss-icon-close(8px, $zdss-color-charcoal);
	}
}


@mixin zdss-tooltip(){
    @include zdss-block-dark;
    @include zdss-shadow-small();
    position: relative;
    padding: 10px 15px;
    &:after {
        @include zdss-block-dark();
        border-radius: 0;
        transform: rotate(45deg);
        content: '';
        position: absolute;
        top: 6px;
        width: 10px;
        height: 10px;
    }
    .zdss-close {
        @include zdss-icon-close(8px, $zdss-color-mercury);
        float: right;
        margin: 3px;
    }
}

/*

Tooltip(left)

<div class="zdss-tooltip-left">
    <a class="zdss-close"></a>
    Lorem ipsum
</div>

*/

@mixin zdss-tooltip-left(){
    @include zdss-tooltip();
    &:after {
        left: -15px;
    }
}


/*

Tooltip(right)

<div class="zdss-tooltip-right">
    <a class="zdss-close"></a>
    Lorem ipsum
</div>

*/

@mixin zdss-tooltip-right(){
    @include zdss-tooltip();
    &:after {
        right: -15px;
    }
}


/*
Pop-up Dialog

<div class="zdss-popup-dialog">
	<div class="close"></div>
	<h3 class="dialog-header">Time Control</h3>
	<div class="dialog-body">
		<h4 class="subhead">TIME WINDOW</h4>
		<div>
			<dl>
				<dt title="Time Window">Time Window:</dt>
				<dd>10/13/2014, 2:37:45 PM</dd>
				<dd>10/13/2014, 3:37:44 PM</dd>
				<dt title="Volume ">Volume :</dt>
				<dd>770</dd>
			</dl>
		</div>
		<ul>
			<li>Custom</li>
			<li class="selected">Rolling Hour</li>
			<li>Today</li>
		</ul>
	</div>
	<div class="dialog-actions">
		<button>Details</button>
	</div>
</div>
<div class="zdss-popup-dialog">
	<div class="dialog-body">
		<ul>
			<li>avg</li>
			<li class="selected">min</li>
			<li>max</li>
			<li>sum</li>
		</ul>
	</div>
</div>

*/

@mixin zdss-popup-dialog() {
	@include zdss-popup-modal();
	background-color: $zdss-color-obsidian;
	margin: 10px;
	opacity: 0.9;
	max-width: 280px;

	.close {
		position: absolute;
		cursor: pointer;
		font-size: $zdss-fs-large;
		right: 10px;
		line-height: 24px;
		@include zdss-icon-x-circle();
	}

	.dialog-header {
        @include zdss-overflow-with-dots;
		color: $zdss-popup-header;
		text-align: center;
		margin: 0 0 10px 0;
		font-weight: normal;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: $zdss-fs-larger;
		line-height: 22px;
		width: 92%;
	}

	.dialog-body {
		// background-color: $zdss-color-obsidian;
		border-radius: 12px;

		.subhead {
			color: $zdss-color-silver;
			font-weight: bold;
			font-size: $zdss-fs-normal;
			letter-spacing: 0.2em;
			margin: 7px 3px 5px;
			text-transform: uppercase;
		}

		ul {
			@include zdss-list-vertical-popup();
		}
	}

	.dialog-actions {
		padding-top: 8px;
		button {
			@include zdss-button-primary();
		}
	}

	&:after {
		background-color: inherit;
		z-index: -1;
	}
}

/*
Pop-up Dialog Light

<div class="zdss-popup-dialog-light">
	<div class="dialog-body">
		<ul>
			<li>avg</li>
			<li class="selected">min</li>
			<li>max</li>
			<li>sum</li>
		</ul>
	</div>
</div>
*/

@mixin zdss-popup-dialog-light() {
	@include zdss-popup-dialog();
	background: $zdss-color-silver;

	.dialog-body {
		background: $zdss-color-obsidian;
		ul {
			background-color: $zdss-color-obsidian;
			border-color: $zdss-color-silver;
			li {
				color: $zdss-color-white;
				border-color: inherit;
				&:hover {
					color: $zdss-color-white;
				}
				&.selected {
					color: $zdss-color-green;
				}
			}
		}
	}
}
