$zdss-nt-popup-border-color: #68AD45;
$zdss-nt-popup-border-color-error: #E46839;

$zdss-nt-alert-backround: #87CEEB;
$zdss-nt-alert-text-color: #3a87ad;
$zdss-nt-alert-border-color: #87CEEB;

$zdss-nt-alert-error-backround: #E5683A;
$zdss-nt-alert-error-text-color: #FFFFFF;
$zdss-nt-alert-error-border-color: #E5683A;

$zdss-nt-alert-success-backround: #68AD45;
$zdss-nt-alert-success-text-color: #FFFFFF;
$zdss-nt-alert-success-border-color: #68AD45;

$zdss-nt-alert-warning-backround: #FABC2D;
$zdss-nt-alert-warning-text-color: #626262;
$zdss-nt-alert-warning-border-color: #FABC2D;

$zdss-nt-error-msg-backround: #f2dede;
$zdss-nt-error-msg-text-color: #b94a48;
$zdss-nt-error-msg-border-color: #eed3d7;

$zdss-popup-header: #e8e742;